.searchLayout{
    display: flex;
    flex-direction: column;
    gap: 28px;
    h5 {
        font-weight: bold;
        font-size: 26px;
        margin-bottom: -15px;
    }
    p {
        font-size: 20px;
        font-weight: 400px;
    }
}
.seatch {
    display: flex; 
    gap: 24px;
}