.searchLayoutvalue {
    width: 1076px;
    min-height: 767px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
}
.content {

    padding: 0px 24px;
    h5 {
        margin-top: 20px;
        padding-bottom: 15px;
        font-size: 26px;
        font-weight: bold;
    }
}