.header {
    background-color: #4F27BF;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
    min-height: 80px;
    
}

.logo {
    display: flex;
    align-items: center;
    gap: 24px;
}